header {
  text-align: center;
  font-size: 70px;
  font-weight: 700;
}
h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  padding: 3rem;
}
img {
  position: absolute;
  top: 23%;
  left: -15%;
  height: 800px;
}
.flex{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 480px) {
  a.nav-link {
    padding: 0.75rem 0;
  }
  img {
    position: absolute;
    top: 24%;
    left: -15%;
    height: 350px;
  }
  header {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
  }
}
