.App {
  background-color: #1c7c7e;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: fadeInAnimation ease 4s;
  animation-fill-mode: forwards;
  overflow-y: hidden;
}

.shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(10px 10px 10px #222);
}
.pointer {
  cursor: pointer;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}